/*

    VARIABLES

*/

@custom-media --breakpoint-not-small screen and (min-width: 30em);
@custom-media --breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
@custom-media --breakpoint-large screen and (min-width: 60em);

:root {
  --sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  --serif: georgia, serif;
  --code: consolas, monaco, monospace;

  --font-size-1: 48px;
  --font-size-2: 36px;
  --font-size-3: 32px;
  --font-size-4: 28px;
  --font-size-5: 20px;
  --font-size-6: 16px;
  --font-size-7: 14px;

  --letter-spacing-tight: -0.05em;
  --letter-spacing-1: 0.1em;
  --letter-spacing-2: 0.25em;

  --line-height-1: 52px;
  --line-height-2: 40px;
  --line-height-3: 36px;
  --line-height-4: 32px;
  --line-height-55: 28px;
  --line-height-5: 24px;
  --line-height-6: 20px;
  --line-height-7: 18px;

  --spacing-none: 0;
  --spacing-extra-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-extra-large: 28px;
  --spacing-extra-extra-large: 48px;
  --spacing-extra-extra-extra-large: 64px;

  --height-1: 1rem;
  --height-2: 2rem;
  --height-3: 4rem;
  --height-4: 8rem;
  --height-5: 16rem;

  --width-1: 1rem;
  --width-2: 2rem;
  --width-3: 4rem;
  --width-4: 8rem;
  --width-5: 16rem;

  --max-width-1: 1rem;
  --max-width-2: 2rem;
  --max-width-3: 4rem;
  --max-width-4: 8rem;
  --max-width-5: 16rem;
  --max-width-6: 32rem;
  --max-width-7: 48rem;
  --max-width-8: 64rem;
  --max-width-9: 96rem;

  --border-radius-none: 0;
  --border-radius-1: 0.125rem;
  --border-radius-2: 0.25rem;
  --border-radius-3: 0.5rem;
  --border-radius-4: 1rem;
  --border-radius-circle: 100%;
  --border-radius-pill: 9999px;

  --border-width-none: 0;
  --border-width-1: 0.125rem;
  --border-width-2: 0.25rem;
  --border-width-3: 0.5rem;
  --border-width-4: 1rem;
  --border-width-5: 2rem;

  --box-shadow-1: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-3: 7px 16px 24px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-4: 12px 16px 32px 0px rgba(0, 0, 0, 0.3);
  --box-shadow-5: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);

  --black: #000;
  --near-black: #111;
  --dark-gray: #333;
  --mid-gray: #555;
  --gray: #777;
  --silver: #999;
  --light-silver: #aaa;
  --moon-gray: #ccc;
  --light-gray: #eee;
  --near-white: #fafafa;
  --white: #fff;

  --transparent: transparent;

  --black-90: rgba(0, 0, 0, 0.9);
  --black-80: rgba(0, 0, 0, 0.8);
  --black-70: rgba(0, 0, 0, 0.7);
  --black-60: rgba(0, 0, 0, 0.6);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-40: rgba(0, 0, 0, 0.4);
  --black-30: rgba(0, 0, 0, 0.3);
  --black-20: rgba(0, 0, 0, 0.2);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-05: rgba(0, 0, 0, 0.05);
  --black-025: rgba(0, 0, 0, 0.025);
  --black-0125: rgba(0, 0, 0, 0.0125);

  --white-90: rgba(255, 255, 255, 0.9);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-05: rgba(255, 255, 255, 0.05);
  --white-025: rgba(255, 255, 255, 0.025);
  --white-0125: rgba(255, 255, 255, 0.0125);

  --dark-red: #e7040f;
  --red: #ff000080;
  --light-red: #ff725c;
  --orange: #ff6300;
  --gold: #ffb700;
  --yellow: #ffb30080;
  --light-yellow: #fbf1a9;
  --purple: #5e2ca5;
  --light-purple: #a463f2;
  --dark-pink: #d5008f;
  --hot-pink: #ff41b4;
  --pink: #ff80cc;
  --light-pink: #ffa3d7;
  --dark-green: #137752;
  --green: #00d59280;
  --light-green: #9eebcf;
  --navy: #001b44;
  --dark-blue: #00449e;
  --blue: #0099cc;
  --light-blue: #00baf7;
  --lightest-blue: #cdecff;
  --washed-blue: #f6fffe;
  --washed-green: #e8fdf5;
  --washed-yellow: #fffceb;
  --washed-red: #ffdfdf;
}
