<div class="flex center mw8">
  <div class="w-50 pa4">
    <p class="lh-copy">We have received your call back request. One of our parenting practitioners will be in touch on the next working day to confirm when you can expect your phone call.</p>
    <p class="lh-copy">Whilst you are waiting to speak to one of our parenting practitioners, you can get general parenting advice on our parenting tips section of the website.</p>
    <p class="lh-copy">If you have immediate concerns about your child's health, please call NHS Direct on 111.</p>
    <p class="lh-copy">Thanks, <br />Action for Children Parenting Practitioners</p>
  </div>
</div>
